<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
   <meta name="viewport" content="width=device-width, initial-scale=1">
   {% load static %}
    <!-- Material boostrap wizard -->
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script> 
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css" />

 
    <!-- <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script> -->

    <script src="{% static 'js/jquery.bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{% static 'css/material-bootstrap-wizard.css' %}">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <script src="{% static 'js/material-bootstrap-wizard.js' %}"></script>
    
    <!--     Fonts and icons     -->
    
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- mdl-->
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

   
    <script src="{% static 'js/moment-with-locales.min.js' %}"></script>
   
    
    <!--
    some comment
    some text
   -->
    <!-- Datepicker -->

    <link rel="stylesheet" href="{% static 'css/bootstrap-material-datetimepicker.css' %}" />
    <script src="{% static 'js/bootstrap-material-datetimepicker.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.11.4.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <title>Вспомним их поименно</title>
    <!-- CSS Files -->
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" /> 
    <script>
    function delFormItem() {
        var inition_button_id = this.getAttribute('id').split('_')[0];
        var formItems = document.getElementById(inition_button_id + 's_list');
        var container_list = document.querySelectorAll('#' + inition_button_id + '_container');
        if((container_list.length - 1) > 0) {
            num = container_list.length - 1
            var container_del = container_list[num];
            formItems.removeChild(container_del);
        }
    };

    function addFormItem() {
        var inition_button_id = this.getAttribute('id').split('_')[0];
        var formItems = document.getElementById(inition_button_id + 's_list');
        var container_list = document.querySelectorAll('#' + inition_button_id + '_container');
        var item = container_list[0];
        console.log(item);
        var since = item.querySelectorAll('#' + inition_button_id + '_since');
        var to = item.querySelectorAll('#' + inition_button_id + '_to');
        var attributeValueSince = since[0].getAttribute('id') + '_' + (num).toString();
        var attributeValueTo = to[0].getAttribute('id') + '_' + (num++).toString();
        var item_new = item.cloneNode(true);
        var since_new = item_new.querySelectorAll('#' + inition_button_id + '_since');
        var to_new = item_new.querySelectorAll('#' + inition_button_id + '_to');
        since_new[0].setAttribute('id', attributeValueSince);
        to_new[0].setAttribute('id', attributeValueTo);
        formItems.appendChild(item_new);
        
        $('#' + attributeValueSince).bootstrapMaterialDatePicker
        ({
            time: false,
            clearButton: true,
            lang: 'ru'
        });

        $('#' + attributeValueTo).bootstrapMaterialDatePicker
        ({
            time: false,
            clearButton: true,
            lang: 'ru'
        });

    };

    </script>
</head>

<body class="main">
    <div class="container22" >
        <div class="top" id="scaleable-wrapper">
            <div class="very-specific-design" id="very-specific-design">
                <a href="{% url 'index' %}"><img src="{% static 'img/logo_rtbn.png' %}" alt="Вспомним их поименно"></a>
            </div>
        </div>
        
        <div class="content">
            <div id="container"></div>
        <div>
        {% block get_authorized %}

        {% endblock %}
        </div>
       
        {%  block title %}
        
        {% endblock %}
         
        {% block content %}
       
        {% endblock %}

        {% block list_update_persons %}

        {% endblock %}

        </div>
        
        
        <div class="bottom">
        <p>Информация для пользователей:</p>
        <ol>
            <li>
                эксперты имеют право вносить информацию на основе поисков и имеющихся в наличии документов
            и свидетельств, отдельно по любому разделу. При этом в дальнейшем это привдедет к связи с персоналиями
            </li>
            <li>
                разыскивающие своих родственников имеют возможность начать поиск по любому потвержденному этапу судьбы, либо по сопоставлению судеб земляков, однополчан
            </li>
        </ol>
        <p>
            Все действия в столь массовых и масштабных событиях имели определенную структуру и правила. Исключениями могли быть лишь отдельные судьбы
        </p>
       
        <div><h1>Успехов в поиске</h1></div>
        </div>
    
    </div>
<script type="text/javascript">
    $(document).ready(function()
    {
        $('#date_birthday').bootstrapMaterialDatePicker
        ({
            time: false,
            clearButton: true,
            lang: 'ru'
        });
    });

    $(document).ready(function()
    {
        $('#date_mobilization').bootstrapMaterialDatePicker
        ({
            time: false,
            clearButton: true,
            lang: 'ru'
        });
    });

    $(document).ready(function()
    {
        $('#fight_since').bootstrapMaterialDatePicker
        ({
            time: false,
            clearButton: true,
            lang: 'ru'
        });
    });

    $(document).ready(function()
    {
        $('#fight_to').bootstrapMaterialDatePicker
        ({
            time: false,
            clearButton: true,
            lang: 'ru'
        });
    });

    $(document).ready(function()
    {
        $('#hospital_since').bootstrapMaterialDatePicker
        ({
            time: false,
            clearButton: true,
            lang: 'ru'
        });
    });

    $(document).ready(function()
    {
        $('#hospital_to').bootstrapMaterialDatePicker
        ({
            time: false,
            clearButton: true,
            lang: 'ru'
        });
    });

    $(document).ready(function()
    {
        $('#date_of_captivity').bootstrapMaterialDatePicker
        ({
            time: false,
            clearButton: true,
            lang: 'ru'
        });
    });

    $(document).ready(function()
    {
        $('#camp_since').bootstrapMaterialDatePicker
        ({
            time: false,
            clearButton: true,
            lang: 'ru'
        });
    });
    
    $(document).ready(function()
    {
        $('#camp_to').bootstrapMaterialDatePicker
        ({
            time: false,
            clearButton: true,
            lang: 'ru'
        });
    });

    $(document).ready(function()
    {
        $('#work_since').bootstrapMaterialDatePicker
        ({
            time: false,
            clearButton: true,
            lang: 'ru'
        });
    });
    
    $(document).ready(function()
    {
        $('#work_to').bootstrapMaterialDatePicker
        ({
            time: false,
            clearButton: true,
            lang: 'ru'
        });
    });

    $(document).ready(function()
    {
        $('#infir_since').bootstrapMaterialDatePicker
        ({
            time: false,
            clearButton: true,
            lang: 'ru'
        });
    });

    $(document).ready(function()
    {
        $('#infir_to').bootstrapMaterialDatePicker
        ({
            time: false,
            clearButton: true,
            lang: 'ru'
        });
    });

    $(document).ready(function()
    {
        $('#date_of_burial').bootstrapMaterialDatePicker
        ({
            time: false,
            clearButton: true,
            lang: 'ru'
        });
    });

    $(document).ready(function()
    {
        $('#date_of_reburial').bootstrapMaterialDatePicker
        ({
            time: false,
            clearButton: true,
            lang: 'ru'
        });
    });
    
    var $el = $("#very-specific-design");
    var elHeight = $el.outerHeight();
    var elWidth = $el.outerWidth();

    var $wrapper = $("#scaleable-wrapper");

    //$wrapper.resizable({
    //    resize: doResize
    //});

    function doResize(event, ui) {
  
        var scale, origin;
    
        scale = Math.min(
            ui.size.width / elWidth,    
            ui.size.height / elHeight
        );
        scale = 0.2;
  
        $el.css({
            transform: "translate(-50%, -50%) " + "scale(" + scale + ")"
        });
  
    }

    var starterData = { 
        size: {
            width: $wrapper.width(),
            height: $wrapper.height()
        }
    }
    doResize(null, starterData);
</script>
</body>
</html>