{% extends 'authorized.html' %}
{% load static %}
{% block title %}

<div class="inner">
    <div class="search_border">
        <div class="main_button">
            <a href="{% url 'search' %}">
                <b>Поиск</b>
            </a>
        </div>
        <div class="main_button">
            Внесение данных
        </div>
    </div>
</div>
<script>

    var num = 1;
    var del_row;
    var registerEventButton = function () {
        var fighting_minus = document.getElementById('fight_minus'),
            fighting_plus = document.getElementById('fight_plus'),
            captivity_plus = document.getElementById('captivity_plus'),
            captivity_button = document.getElementById('captivity_button'),
            camps_button = document.getElementById('camp_button'),
            team_button = document.getElementById('team_button'),
            infirmary_button = document.getElementById('infirmary_button'),
            hospital_button = document.getElementById('hospital_button'),
            datebureal_button = document.getElementById('datebureal_button'),
            docplacebureal_button = document.getElementById('docplacebureal_button'),
            factplacebureal_button = document.getElementById('factplacebureal_button'),
            definebureal_button = document.getElementById('definebureal_button'),
            fieldbureal_button = document.getElementById('fieldbureal_button'), 
            linebureal_button = document.getElementById('linebureal_button'),
            tombbureal_button = document.getElementById('tombbureal_button'),
            datereburial_button = document.getElementById('datereburial_button'),
            reasonreburial_button = document.getElementById('reasonreburial_button'),
            actaddrreburial_button = document.getElementById('actaddrreburial_button');
            



        

        //fighting_minus.onclick = delFormItem;
        del_row = create_del_row($("#personal_data"));
        //var fightListAddFunction = add_table($("#fights_list"), $("#personal_data"));
        //fighting_plus.onclick = addFormItem;
        init_msg_form("fights");
        init_msg_form("hospital");
        //fighting_plus.onclick = fightListAddFunction;

        //hospital_button.onclick = create_butt_meth(adding_info);
        ////captivity_plus.onclick = add_table($("#captivity_list"), $("#personal_data"));
        //captivity_button.onclick = create_butt_meth(adding_info); 
        //camps_button.onclick = create_butt_meth(adding_info);
        //team_button.onclick = create_butt_meth(adding_info);
        //infirmary_button.onclick = create_butt_meth(adding_info);
        //bureal
        init_msg_form("captivity");
        init_msg_form("camp");
        init_msg_form("team");
        init_msg_form("infirmary");
        init_msg_form("datebureal");
        init_msg_form("docplacebureal");
        init_msg_form("factplacebureal");
        init_msg_form("definebureal");
        init_msg_form("fieldbureal");
        init_msg_form("tombbureal");
        init_msg_form("datereburial");
        init_msg_form("reasonreburial");
        init_msg_form("actaddrreburial");
    };
    addEventListener('load', registerEventButton);
</script>
{% endblock %}
{% block content %}
<script>
    function init_timepicker() {
        $("#date_birthday").datepicker();
        $("#date_mobilization").datepicker();
        $("#fight_since").datepicker();
        $("#fight_to").datepicker();
        $("#hospital_since").datepicker();
        $("#hospital_to").datepicker();
        $("#date_of_captivity").datepicker();
        $("#camp_since").datepicker();
        $("#camp_to").datepicker();
        $("#work_since").datepicker();
        $("#work_to").datepicker();
        $("#infir_since").datepicker();
        $("#infir_to").datepicker();
    }

    

    $(document).ready(function () {

        var form = $("#personal_data");

        $.validator.addMethod("lettersonly", function (value, element) {
            return this.optional(element) || /^[a-zа-я][a-zа-я^\s{2}]+[a-zа-я]$/i.test(value);
        }, "Неверные символы");

        $.validator.addMethod("datecheck", function (value, element) {
            return this.optional(element) || /^[0-9]{1,2}.[0-9]{2}.[0-9]{4}$/i.test(value);
        }, "Неверный формат даты");
        
        form.validate({
            errorPlacement: function errorPlacement(error, element) {
                element.before(error);
            },
            rules: {
                name: {
                    required: true,
                    minlength: 2,
                    lettersonly: true
                },
                name_distortion: "lettersonly",
                surname: {
                    required: true,
                    minlength: 2,
                    lettersonly: true
                },
                surname_distortion: "lettersonly",
                father_name: {
                    required: true,
                    minlength: 2,
                    lettersonly: true
                },
                father_name_distortion: "lettersonly",
                birthday: {
                    required: true,
                    datecheck: true
                },
                born_region_name: "required",
                born_district_name: "required",
                born_locality_name: "required",
                live_region_name: "required",
                live_district_name: "required",
                live_locality_name: "required",
                date_mobilization: "required",
                region_military_enlistment_office: "required",
                district_military_enlistment_office: "required",
                military_enlistment_office: "required",
                calling_team_name: "required",
                direction_front_name: "required",
                direction_army_name: "required",
                warunit_name: "required",
                "fight_since[]": "required",
                "fight_to[]": "required",
                "front_name[]": "required",
                "army_name[]": "required",
                "division_name[]": "required",
                "regiment_name[]": "required",
                "company_name[]": "required",
                "platoon_name[]": "required",
                "military_operation_name[]": "required"
            },
            messages: {
                name: {
                    required: "Пожалуйста введите имя",
                    minlength: "Имя должно состоять из не менее 2 букв",
                    lettersonly: "В имени должны содержаться только буквы"
                },
                surname: {
                    required: "Пожалуйста введите фамилию",
                    lettersonly: "В фамилии должны содержаться только буквы"
                },
                father_name: {
                    required: "Пожалуйста введите отчество",
                    lettersonly: "В отчестве должны содержаться только буквы"
                },
                birthday: {
                    required: "Укажите дату рождения",
                },
                born_region_name: {
                    required: "Введите данные"
                },
                born_district_name: {
                    required: "Введите данные"
                },
                born_locality_name: {
                    required: "Введите данные"
                },
                live_region_name: {
                    required: "Введите данные"
                },
                live_district_name: {
                    required: "Введите данные"
                },
                live_locality_name: {
                    required: "Введите данные"
                },
                region_military_enlistment_office: {
                    required: ""
                },
                district_military_enlistment_office: { 
                    required: ""
                },
                military_enlistment_office: {
                    required: ""
                },
                calling_team_name: { 
                    required: "Введите призывную команду" 
                },
                direction_front_name: {
                    required: ""
                },
                direction_army_name: {
                    required: ""
                },
                warunit_name: {
                    required: ""
                },
                "fight_since[]": {
                    required: ""
                },
                "fight_to[]": {
                    required: ""
                },
                "front_name[]": {
                    required: ""
                },
                "army_name[]": {
                    required: ""
                },
                "division_name[]": {
                    required: ""
                },
                "regiment_name[]": { 
                    required: "" 
                },
                "company_name[]": {
                    required: ""
                },
                "platoon_name[]": {
                    required: ""
                },
                "military_operation_name[]": {
                    required: ""
                }
            }
        });

        var settings = {
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            autoFocus: true,
            stepsOrientation: 0,
            onStepChanging: function (event, currentIndex, newIndex) {
                return form.valid();
                //return true;
            },
            onStepChanged: function (event, currentIndex, priorIndex) {

            },
            onFinishing: function (event, currentIndex) {
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                form.submit();
            }
        };
        
        let test_id_label = $("#test_id_label");
        let test_id_attr = $("#test_id_attr");
        var same_addr_div = $("#same_addr");
        var same_addr = same_addr_div.find("input[type=checkbox]");
        //alert(test_id_label.text());
    
        var initial = same_addr.is(":checked");
        //alert($("#last_place")["addClass"]("minus"));
        var last_place = $("#last_place")[initial ? "addClass" : "removeClass"]("gray");

        function set_disabled_input(v, r, d, l) {
            if(v) {
                r.disabled = true;
                d.disabled = true;
                l.disabled = true;
                r.required = false;
                d.required = false;
                l.required = false;
                r.value = "";
                d.value = "";
                l.value = "";

            } else {
                r.disabled = false;
                d.disabled = false;
                l.disabled = false;
                r.required = true;
                d.required = true;
                l.required = true;
            }
        }

        function set_disabled_live_address(v) {
            let live_region_name = document.getElementsByName("live_region_name");
            let live_district_name = document.getElementsByName("live_district_name");
            let live_locality_name = document.getElementsByName("live_locality_name");
            set_disabled_input(v, live_region_name[0], live_district_name[0], live_locality_name[0]);
        }

        function set_disabled_last_msg(v) {
            let last_msg_region = document.getElementsByName("last_msg_region"); 
            let last_msg_district = document.getElementsByName("last_msg_district");
            let last_msg_locality = document.getElementsByName("last_msg_locality");
            set_disabled_input(v, last_msg_region[0], last_msg_district[0], last_msg_locality[0]);
        }

        //form.children("div").steps(settings);
        $("#wizard-input").steps(settings);
        
        set_disabled_live_address(false);
        set_disabled_last_msg(true);

        var t = $("#test_id");
        var m = $("#chbox_last_msg");
        var last_msg = $("#last_msg");
        
        t.click( "click", function(){
            var initial = t.is(":checked");
            last_place[this.checked ? "addClass" : "removeClass"]("gray");
            set_disabled_live_address(initial);
        });

        m.click("click", function() {
            var initial = m.is(":checked");
            last_msg[initial ? "addClass" : "removeClass"]("gray");
            set_disabled_last_msg(!initial);
        });
        
        init_timepicker();
    });
</script>
<div class="content">
    <div class="offset_content">
        <h1>Персональные данные разыскиваемого</h1>
        <form id="personal_data" action="{% url 'data_list' %}" method="POST"> {% csrf_token %}
            <div class="card wizard-card" data-color="red" id="wizard-input">
                <h3 class="info-text"> Личные данные</h3>
                <section id="details">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group container-element">
                                    <input type="text" value="" placeholder="Имя" name="name"
                                        class="form-control form-element">
                                    <label for="name" generated="true" class="error"></label>
                                </div>
                                <div class="form-group container-element">
                                    <input type="text" value="" placeholder="Возможное искажение" name="name_distortion"
                                        class="form-control form-element">
                                    <label for="name_distortion" generated="true" class="error"></label>
                                </div>
                                <div class="form-group container-element">
                                    <input type="text" value="" placeholder="Фамилия" name="surname"
                                        class="form-control form-element">
                                    <label for="surname" generated="true" class="error"></label>
                                </div>
                                <div class="form-group container-element">
                                    <input type="text" value="" placeholder="Возможное искажение"
                                        name="surname_distortion" class="form-control form-element">
                                </div>
                                <div class="form-group container-element">
                                    <input type="text" value="" placeholder="Отчество" name="father_name"
                                        class="form-control form-element">
                                    <label for="father_name" generated="true" class="error"></label>
                                </div>
                                <div class="form-group container-element">
                                    <input type="text" value="" placeholder="Возможное искажение"
                                        name="father_name_distortion" class="form-control form-element">
                                </div>
                                <div class="form-group container-element">
                                    <input type="text" id="date_birthday"
                                        class="form-control floating-label form-element" placeholder="Дата рождения"
                                        name="birthday">
                                    <label for="date_birthday" generated="true" class="error"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Место рождения</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Область" name="born_region_name"
                                        class="form-control" required >
                                    <label for="born_region_name" generated="true" class="error"></label>
                                    <input type="hidden" value="3" name="born_region_type">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Район" name="born_district_name"
                                        class="form-control" required >
                                    <label for="born_district_name" generated="true" class="error"></label>
                                    <input type="hidden" value="2" name="born_district_type">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Населенный пункт" name="born_locality_name"
                                        class="form-control" required >
                                    <label for="born_locality_name" generated="true" class="error"></label>
                                    <input type="hidden" value="1" name="born_locality_type">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div>
                                        <div id="same_addr">
                                            <label for="same_addr">совпадает</label>
                                            <input id="test_id" class="check-data" type="checkbox" 
                                                name="newsletter">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="last_place" class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Место последнего проживания до призыва</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Область" name="live_region_name"
                                        class="form-control disabled">
                                    <label for="live_region_name" generated="true" class="error"></label>
                                    <input type="hidden" value=3 name="live_region_type">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Район" name="live_district_name"
                                        class="form-control">
                                    <label for="live_district_name" generated="true" class="error"></label>
                                    <input type="hidden" value=2 name="live_district_type">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Населенный пункт" name="live_locality_name"
                                        class="form-control">
                                    <label for="live_locality_name" generated="true" class="error"></label>
                                    <input type="hidden" value=1 name="live_locality_type">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <h3 class="info-text">Мобилизация</h3>
                <section id="mobilization">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group container-element">
                                    <input type="text" id="date_mobilization" class="form-control form-element"
                                        placeholder="Дата мобилизации" name="date_mobilization" >
                                    <label for="date_mobilization" generated="true" class="error"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Военкомат(ППП):</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Область"
                                        name="region_military_enlistment_office" class="form-control form-element" >
                                    <label for="region_military_enlistment_office" generated="true" class="error"></label>
                                    <input type="hidden" value="3" name="region_type_military_enlistment_office"  >
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Район"
                                        name="district_military_enlistment_office" class="form-control form-element" >
                                    <label for="district_military_enlistment_office" generated="true" class="error"></label>
                                    <input type="hidden" value="2" name="district_type_military_enlistment_office" >
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Название призывного пунка"
                                        name="military_enlistment_office" class="form-control form-element">
                                     <label for="military_enlistment_office" generated="true" class="error"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group container-element">
                                    <input type="text" value="" placeholder="Призывная команда" name="calling_team_name"
                                        class="form-control form-element" >
                                    <label for="calling_team_name" generated="true" class="error"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Направлен:</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Фронт" name="direction_front_name"
                                        class="form-control">
                                    <label for="direction_front_name" generated="true" class="error"></label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Армия" name="direction_army_name"
                                        class="form-control">
                                    <label for="direction_army_name" generated="true" class="error"></label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Подразделение" name="warunit_name"
                                        class="form-control">
                                    <label for="warunit_name" generated="true" class="error"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="is_the_last_letter">Последнее письменное сообщение из:</label>
                                    <input id="chbox_last_msg" type="checkbox" name="is_the_last_letter">
                                </div>
                            </div>
                            <div id="last_msg">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" value="" placeholder="Область" name="last_msg_region"
                                            class="form-control">
                                        <input type="hidden" value="3" name="last_msg_region_type">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" value="" placeholder="Район" name="last_msg_district"
                                            class="form-control">
                                        <input type="hidden" value="2" name="last_msg_district_type">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" value="" placeholder="Населенный пункт"
                                            name="last_msg_locality" class="form-control">
                                        <input type="hidden" value="1" name="last_msg_locality_type">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row top-buffer">

                        </div>
                        <div class="row">
                            <div class="col-sm-offset-3">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="**Дополнительная информация"
                                        name="adding_info" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row top-buffer">

                        </div>
                        <p>**При наличие информации о переводе в другие подразделения, заполнять в порядке
                            последовательности</p>
                    </div>
                </section>
                <h3 class="info-text">Введите информацию об участии в сражениях</h3>
                <section id="fights">
                    <div id="fight_container" class="container-fluid">
                        <div id="fights_list">
                           
                        </div>
                    </div>
                    <p>**При наличие информации о переводе в другие подразделения, заполнять в порядке
                        последовательности</p>
                </section>
                <h3 class="info-text">Информация о нахождении в лечебных учреждениях </h3>
                <section id="hospitals">
                    <div id="hospital_container" class="container-fluid">
                        <div id="hospital_list">
                            <!-- <p id="hospital_button">добавить информацию о госпитализяциях</p> -->
                        </div>
                    </div>
                </section>
                <h3 class="info-text">Данные о пленении и дальнейшем содержании</h3>
                <section id="captivity">                   
                        <div class="container-fluid">
                            <div id="captivity_list" >
                                <!-- <p id="captivity_button">добавить информацию о пленении </p> -->
                                
                            </div>
                            <div id="camp_list" >
                                <!-- <p id="camp_button">добавить информацию о лагерях</p> -->
                            </div>
                            <div id="team_list" >
                                <!-- <p id="team_button">добавить информацию о рабочих командах</p> -->
                            </div>
                            <div id="infirmary_list" >
                                <!-- <p id="infirmary_button">добавить информацию о содержании лазаритах</p> -->
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>
                                            <font class="red1">Особые отметки</font>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="checkbox border_red_mark">
                                            <label>
                                                <input type="checkbox" name="defector">
                                            </label>
                                            <font class="red1">Перебежчик</font>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="checkbox border_red_mark">
                                            <label>
                                                <input type="checkbox" name="gestapo">
                                            </label>
                                            <font class="red1">Гестапо</font>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="checkbox border_red_mark">
                                            <label>
                                                <input type="checkbox" name="frei">
                                            </label>
                                            <font class="red1">Освобожден</font>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="button_plus_minus">
                                <p class="add_item plus" id="captivity_plus">&#43;</p>
                                <p class="add_item minus" id="captivity_minus">&#8722;</p>
                            </div>
                            <div class="row top-buffer">

                            </div>
                            <p>**При наличие информации о переводе в другие пункты, заводить в порядке
                                последовательности</p>
                        </div>
                   
                </section>
                <h3 class="info-text">Имеющиеся данные о захоронении</h3>
                <section id="burial">
                    <div class="container-fluid">
                        <div id="datebureal_list" class="row">
                            <!-- <p id="datebureal_button">добавить информацию о дате захоронения</p> -->
                        </div>
                        <div id="docplacebureal_list" class="row">
                            <!--  <p id="docplacebureal_button">добавить информацию о месте захоронения по документам</p> -->
                        </div>
                        <div id="factplacebureal_list" class="row">
                            <!--  <p id="factplacebureal_button">добавить информацию о фактическом месте захоронения</p> -->
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <h5 class="info-text">Описание захоронения</h5>
                            </div>
                        </div>
                        <div  id="definebureal_list"  class="row">
                            
                        </div>
                        <div id="fieldbureal_list" class="row">
                            
                        </div>
                        <div id="linebureal_list" class="row">
                            
                        </div>
                        <div id="tombbureal_list" class="row">
                            
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <h5 class="info-text">Перезахоронение</h5>
                            </div>
                        </div>
                        <div id="datereburial_list" class="row">
                            
                        </div>
                        <div id="reasonreburial_list" class="row">
                            
                        </div>
                        <div id="actaddrreburial_list" class="row">
                            
                        </div>
                        <div class="row top-buffer">

                        </div>
                        <p>*Адрес захоронения на современной карте</p>
                    </div>
                </section>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}