{% extends 'authorized.html' %}
{% block title %}
<div class="inner">
    <div class="search_border">
        <div class="main_button"><a class='btn btn-primary' href="{% url 'search' %}"><b>Поиск</b></a></div>
        <div class="main_button"><a class='btn btn-primary' href="{% url 'add_person' %}"><b>Внесение данных</b></a></div>
    </div>
</div>
{% endblock %}

<div class="container-fluid">
{% block content %}



{% endblock %}
</div>

{% block list_update_persons %}

<h3>Обновления</h3>
{% for person in persons_update %}
<p>
    <a href="{{ person.get_url_path }}" class="d-block my-3">
    {{person.surname}}

    {{person.name}}

    {% if person.patronimic %}
            {{ person.patronimic }}
    {% endif %}
    {% if person.birthday %}
        <b>{{ person.birthday|date:"d.m.Y" }} г.р. </b>
    {% endif %}
    </a>
</p>
{% endfor %}

{% endblock %}