{% extends 'base.html' %}
{% block title %}
    <div class="inner">
        <div class="search_border">
            <div class="main_button"><a href="{% url 'index' %}"><b>Поиск</b></a></div>
            <div class="main_button"><a href="{% url 'data_input' %}"><b>Внесение данных</b></a></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="inner" ><p class="sections_name">По разделам:</p>
        <div class="tags color_border_red">
        <a href="{% url 'data_list' %}">Персональные данные</a>
        </div>
        <div class="tags color_border_gray">Призыв</div>
        <div class="tags color_border_gray">Боевые действия</div>
        <div class="tags color_border_gray">Госпиталь</div>
        <div class="tags color_border_gray">Плен</div>
        <div class="tags color_border_gray">Захоронение</div>
    </div>
{% endblock %}

{% block list_update_persons %}

<!-- <div id="test"> -->
{% for person in persons_update %}
<p>
{{person.surname}}

{{person.name}}

{{person.father_name}}
</p>
{% endfor %}

{% endblock %}