{% extends 'authorized.html' %}
{% block title %}
<div class="inner">
    <div class="search_border">
        <div class="main_button"><a href="{% url 'search' %}"><b>Поиск</b></a></div>
        <div class="main_button"><a href="{% url 'data_input' %}"><b>Внесение данных</b></a></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div>

</div>
{% endblock %}

{% block list_update_persons %}

<!-- <div id="test"> -->
{% for person in persons_update %}
<p>
    {{person.surname}}

    {{person.name}}

    {{person.patronimic}}
</p>
{% endfor %}

{% endblock %}