{% extends 'authorized.html' %}
{% load static %}
{% block title %}
{% load crispy_forms_tags %}

<div class="inner">
    <div class="search_border">
        <div class="main_button">
            <a href="{% url 'search' %}">
                <b>Поиск</b>
            </a>
        </div>
        <div class="main_button">
            Внесение данных
        </div>
    </div>
</div>
<script>

    class Pathes {
        constructor(data_url, source_url) {
            this.data_url = data_url;
            this.source_url = source_url;
        }

        get get_data_url() {
            if (this.data_url != null && this.data_url != "")
                return this.data_url;
        }

        get get_source_url() {
            if (this.source_url != null && this.source_url != "")
                return this.source_url;
            else
                throw new Error(
                    "There is no any urls resources!"
                );
        }
    }

    var num = 1;
    var del_row;
    var action_war_unit = null, action_address = null;
    var registerEventButton = function () {
        var fighting_minus = document.getElementById('fight_minus'),
            fighting_plus = document.getElementById('fight_plus'),
            captivity_plus = document.getElementById('captivity_plus'),
            captivity_button = document.getElementById('captivity_button'),
            camps_button = document.getElementById('camp_button'),
            team_button = document.getElementById('team_button'),
            infirmary_button = document.getElementById('infirmary_button'),
            hospital_button = document.getElementById('hospital_button'),
            datebureal_button = document.getElementById('datebureal_button'),
            docplacebureal_button = document.getElementById('docplacebureal_button'),
            factplacebureal_button = document.getElementById('factplacebureal_button'),
            definebureal_button = document.getElementById('definebureal_button'),
            fieldbureal_button = document.getElementById('fieldbureal_button'),
            linebureal_button = document.getElementById('linebureal_button'),
            tombbureal_button = document.getElementById('tombbureal_button'),
            datereburial_button = document.getElementById('datereburial_button'),
            reasonreburial_button = document.getElementById('reasonreburial_button'),
            actaddrreburial_button = document.getElementById('actaddrreburial_button');






        //fighting_minus.onclick = delFormItem;
        del_row = create_del_row($("#personal_data"));
        //var fightListAddFunction = add_table($("#fights_list"), $("#personal_data"));
        //fighting_plus.onclick = addFormItem;
        init_msg_form("fights");
        init_msg_form("hospital");
        //fighting_plus.onclick = fightListAddFunction;

        //hospital_button.onclick = create_butt_meth(adding_info);
        ////captivity_plus.onclick = add_table($("#captivity_list"), $("#personal_data"));
        //captivity_button.onclick = create_butt_meth(adding_info); 
        //camps_button.onclick = create_butt_meth(adding_info);
        //team_button.onclick = create_butt_meth(adding_info);
        //infirmary_button.onclick = create_butt_meth(adding_info);
        //bureal
        init_msg_form("captivity");
        init_msg_form("camp");
        init_msg_form("team");
        init_msg_form("infirmary");
        init_msg_form("datebureal");
        init_msg_form("docplacebureal");
        init_msg_form("factplacebureal");
        init_msg_form("definebureal");
        init_msg_form("fieldbureal");
        init_msg_form("tombbureal");
        init_msg_form("datereburial");
        init_msg_form("reasonreburial");
        init_msg_form("actaddrreburial");
    };
    const addressUrls = new Pathes("{% url 'region' %}", "{% url 'add_region' %}");
    const war_unitUrs = new Pathes("{% url 'war_unit:get_war_units' %}", "{% url 'war_unit:add_war_unit' %}");
    const cemetery_itemUrls = new Pathes("{% url 'cemetery:get_cemetery_items' %}", "{% url 'cemetery:add_cemetery_item' %}");
    const calling_teamUrls = new Pathes("{% url 'calling_team' %}", "{% url 'add_calling_team' %}");
    const war_operationUrls = new Pathes("{% url 'war_operation' %}", "{% url 'add_war_operation' %}");
    const hospitalUrls = new Pathes("{% url 'hospital' %}", "{% url 'add_hospital' %}");
    const campUrls = new Pathes("{% url 'camp' %}", "{% url 'add_camp' %}");
    const labour_teamUrls = new Pathes("{% url 'labour_team' %}", "{% url 'add_labour_team' %}");
    //const calling_teamUrls = new Pathes("{% url 'war_unit:get_war_units' %}", "{% url 'war_unit:add_war_unit' %}");

    pathes_obj = null;
    addEventListener('load', registerEventButton);
</script>
{% endblock %}
{% block content %}
<script>
    function init_timepicker() {
        $(".dateinput").datepicker();
    }

    $(document).ready(function () {
        window.WIDGET_INI_REGISTER = window.WIDGET_INI_REGISTER || []
        var form = $("#personal_data");
        $('#id_birthday').addClass('date');

        $.validator.addMethod("lettersonly", function (value, element) {
            return this.optional(element) || /^[a-zа-я][a-zа-я^\s{2}]+[a-zа-я]$/i.test(value);
        }, "Неверные символы");

        $.validator.addMethod("datecheck", function (value, element) {
            return this.optional(element) || /^[0-3][0-9].[0-1][0-9].[0-9]{2,4}$/i.test(value);
        }, "Неверный формат даты");

        $.validator.addMethod("anyDate",
            function (value, element) {
                if (value != "")
                    return value.match(/^(0?[1-9]|[12][0-9]|3[0-1])[/., -](0?[1-9]|1[0-2])[/., -](19|20)?\d{2}$/);
                else
                    return true;
            },
            "Please enter a date in the format!"
        );
        $.validator.addClassRules('date',
            { anyDate: true }
        );
        form.validate({
            errorPlacement: function errorPlacement(error, element) {
                element.before(error);
            },
            rules: {
                name: {
                    required: true,
                    minlength: 2,
                    lettersonly: true
                },
                name_distortion: "lettersonly",
                surname: {
                    required: true,
                    minlength: 2,
                    lettersonly: true
                },
                surname_distortion: "lettersonly",

                father_name_distortion: "lettersonly",

                born_region_name: "required",
                born_district_name: "required",
                born_locality_name: "required",
                live_region_name: "required",
                live_district_name: "required",
                live_locality_name: "required",
                region_military_enlistment_office: "required",
                district_military_enlistment_office: "required",
                military_enlistment_office: "required",
                calling_team_name: "required",
                warname: "required",
            },
            messages: {
                name: {
                    required: "Пожалуйста введите имя",
                    minlength: "Имя должно состоять из не менее 2 букв",
                    lettersonly: "В имени должны содержаться только буквы"
                },
                surname: {
                    required: "Пожалуйста введите фамилию",
                    lettersonly: "В фамилии должны содержаться только буквы"
                },
                father_name: {
                    required: "Пожалуйста введите отчество",
                    lettersonly: "В отчестве должны содержаться только буквы"
                },

                calling_team_name: {
                    required: "Введите призывную команду"
                },

            }
        });

        var settings = {
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            autoFocus: true,
            stepsOrientation: 0,
            labels: {
                cancel: "Отменить",
                finish: "Сохранить",
                next: "продолжить",
                previous: "предыдущая секция"
            },
            onStepChanging: function (event, currentIndex, newIndex) {
                return form.valid();
                //return true;
            },
            onStepChanged: function (event, currentIndex, priorIndex) {

            },
            onFinishing: function (event, currentIndex) {
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                form.submit();
            }
        };

        let test_id_label = $("#test_id_label");
        let test_id_attr = $("#test_id_attr");
        var same_addr_div = $("#same_addr");
        var same_addr = same_addr_div.find("input[type=checkbox]");
        //alert(test_id_label.text());

        var initial = same_addr.is(":checked");
        //alert($("#last_place")["addClass"]("minus"));
        var last_place = $("#last_place")[initial ? "addClass" : "removeClass"]("gray");

        function set_disabled_live_address(v) {
            $("#last_place").find("select").first().attr("disabled", v);
        }

        function set_disabled_last_msg(v) {

            let last_msg_region = document.getElementsByName("district_lst-parent_address_unit");
            let last_msg_district = document.getElementsByName("locality_lst-parent_address_unit");
            let last_msg_locality = document.getElementsByName("last_msg_locality");
            set_disabled_input(v, last_msg_region[0], last_msg_district[0], last_msg_locality[0]);
        }


        $("#wizard-input").steps(settings);

        set_disabled_live_address(false);
        // forbiden making grey the address of the last message
        //set_disabled_last_msg(true);

        var t = $("#chbox_living_place");
        var m = $("#chbox_last_msg");
        var last_msg = $("#last_msg");

        t.click("click", function () {
            var initial = t.is(":checked");
            last_place[this.checked ? "addClass" : "removeClass"]("gray");
            set_disabled_live_address(initial);
        });

        m.click("click", function () {
            var initial = m.is(":checked");
            last_msg[initial ? "addClass" : "removeClass"]("gray");
            set_disabled_last_msg(!initial);
        });

        init_timepicker();

        function get_prev_item(cur_item) {
            var child = null;
            if (cur_item != null && cur_item != "") {
                if ($(cur_item).parents(".list_item") != null) {
                    var item = $(cur_item).parents(".list_item");
                    var cur = item.prev();
                    child = cur.find('select');
                }
            }
            return child;
        }

        function get_next_item(cur_item) {
            var child = null;
            if (cur_item != null && cur_item != "") {
                if ($(cur_item).parents(".list_item") != null) {
                    var item = $(cur_item).parents(".list_item");
                    var cur = item.next();
                    child = cur.find('select');
                }
            }
            return child;
        }

        function set_select2_region() {
            set_select_address('#born_locality_name', 1, '#born_district_name');

            set_select_address('#born_district_name', 2, '#born_region_name');

            set_select_address('#born_region_name', 3, null);

            $('#born_locality_name').attr("disabled", true);
            $('#born_district_name').attr("disabled", true);
            console.log("test from set_select2_region");
        }

        function set_address(region_name, district_name, locality_name) {
            if (locality_name != null) {
                set_select_address(locality_name, 1, district_name);
                $(locality_name).attr("disabled", true);
            }

            if (district_name != null) {
                set_select_address(district_name, 2, region_name);
                $(district_name).attr("disabled", true);
            }

            if (region_name != null) {
                set_select_address(region_name, 3, null);
            }
        }

        function selection_tag(cur_item, evt, type_item, parent_item) {
            var parent_val = null;
            if (parent_item != null) {
                parent_val = $(parent_item).val();
            }

            get_next_item(cur_item).attr("disabled", false);

            //console.log('Tag selected? ' + (evt.params.data.tag == true));
            if ((evt.params.data.tag == true)) {
                console.log(evt.params.data);
                $.ajax({
                    url: '{% url 'add_region' %}',
                    dataType: 'json',
                    data: {
                        id: evt.params.data.id,
                        text: evt.params.data.text,
                        tag: evt.params.data.tag,
                        selected: evt.params.data.selected,
                        type_item: type_item,
                        parent_item: parent_val
                    },
                    method: "POST",
                    success: function (data) {
                        //alert('test');
                        //response(data);
                        console.log(data);
                    },
                    error: function (error) {

                    },

                }).done(function (response) {
                    evt.params.data.id = response.id;
                    for (var i = 0; i < evt.target.length; i++) {

                        if (evt.target[i].getAttribute("data-select2-tag")) {
                            console.log(evt.target[i].getAttribute("data-select2-tag"));
                            evt.target[i].value = response.id;
                            console.log(evt.target[i]);
                        }
                    }
                }).fail(function () {
                    console.log('fail');
                }).always(function () {
                    console.log('always');
                });
            }
        }

        function set_select_address(item, type_item, parent_item) {

            var query_item = null;

            $(item).select2({
                tags: true,
                tokenSeparators: [",", " "],
                createTag: creation_tag,
                ajax: {
                    url: '{% url 'region' %}',
                    dataType: 'json',
                    method: 'post',
                    params: { // extra parameters that will be passed to ajax
                        contentType: "application/json; charset=utf-8",
                    },
                    data: function (term, page) {
                        if (parent_item == null) {
                            query_item = {
                                term: term.term,
                                type_item: type_item,
                            };
                        } else {

                            query_item = {
                                term: term.term,
                                type_item: type_item,
                                parent_id: $(parent_item).val()
                            };
                        }
                        return query_item;
                    },
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return { id: item.id, text: item.name };
                            })
                        }
                    }
                },
                selectionCssClass: "input-block-level"
            }).on('select2:select', function (evt) {
                selection_tag(item, evt, type_item, parent_item);
            });

            $(item).on('change', function (evt) {
                console.log($(this).val());
                var next_item = get_next_item(item);
                if (next_item != null) {
                    console.log("it is not null");
                    next_item.val(null).trigger('change');
                    //$("#id_form-1-name").val("");
                }
            });

        }

        function set_select2_test() {

            console.log('test');

        }

        var set_select2_item = create_set_select2_item(result_func);
        let set_select2_tree = new create_select2_modal_wnd(result_enlistment_office);

        set_select2_item('#name_distortion', 0, null, "{% url 'distortion' %}", "{% url 'add_distortion' %}");
        set_select2_item('#patronimic_distortion', 1, null, "{% url 'distortion' %}", "{% url 'add_distortion' %}");
        set_select2_item('#surname_distortion', 2, null, "{% url 'distortion' %}", "{% url 'add_distortion' %}");
        //set_address('#id_district_born-parent_address_unit', '#id_locality_born-parent_address_unit', '#id_born_locality');
        //set_address('#id_district_live-parent_address_unit', '#id_locality_live-parent_address_unit', '#id_live_locality');
        //mobilization
        //set_address('#id_district_lst-parent_address_unit', '#id_locality_lst-parent_address_unit', '#last_msg_locality');
        //set_address('#id_enlistment_office-parent_address_unit', '#enlistment_office_address', null);
        //set_select2_item('#military_enlistment_office', 4, '#enlistment_office_address', "{% url 'enlistment_office' %}", "{% url 'add_enlistment_office' %}");
        set_select2_tree.select_autocomplete($("#id_military_enlistment_office"), $("#id_military_enlistment_office_address"), "{% url 'enlistment_office' %}", "{% url 'add_enlistment_office' %}")
        //$(set_select2_region);
        set_url_address("{% url 'region' %}", "{% url 'add_region' %}");

    });
</script>
<div class="content">
    <div class="offset_content">
        <h1>Персональные данные разыскиваемого</h1>
        <form id="personal_data" action="{% url 'add_person' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            <div class="card wizard-card" data-color="red" id="wizard-input">
                <h3 class="info-text"> Личные данные</h3>
                <section id="details">
                    <div class="container-fluid">
                        <div>
                            <div>
                                <div class="form-row">
                                    <div class="form-group col-md-6 mb-0 container-element">
                                        {{ person_form.surname|as_crispy_field }}
                                        <label for="surname" generated="true" class="error"></label>
                                    </div>
                                    <div class="form-group col-md-6 mb-0  container-element">
                                        {{ surname_distortion_form.name }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6 mb-0 container-element">
                                        {{ person_form.name|as_crispy_field }}
                                        <label for="name" generated="true" class="error"></label>
                                    </div>
                                    <div class="form-group col-md-6 mb-0 container-element">
                                        {{ name_distortion_form.name }}
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6 mb-0 container-element">
                                        {{ person_form.patronimic|as_crispy_field }}
                                        <label for="father_name" generated="true" class="error"></label>
                                    </div>
                                    <div class="form-group col-md-6 mb-0 container-element">
                                        {{ patronimic_distortion_form.name }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group container-element">
                                        {{ person_form.birthday|as_crispy_field}}
                                        <label for="date_birthday" generated="true" class="error"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Место рождения</label>
                                </div>
                            </div>
                            <div class="col-sm-3 list_item">
                                <div class="form-group">
                                    <div class="inform-box">
                                        <p class="inform-box-label"></p>
                                        <button data-toggle="modal" data-target="#tree_modal_wnd"
                                            class="invoke-modal btn-address"
                                            action="{% url 'address:add_address' %}">Адрес
                                            места рождения</button>
                                    </div>
                                    <div class="d-none">
                                        {{ person_form.born_locality|as_crispy_field }}
                                    </div>
                                    <label for="born_locality_name" generated="true" class="error"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div>
                                        <div id="same_addr">
                                            <label for="same_addr">совпадает</label>
                                            <input id="chbox_living_place" class="check-data" type="checkbox"
                                                name="newsletter">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="last_place" class="row">
                            <div class="col-sm-3 list_item">
                                <div class="form-group">
                                    <div class="inform-box">
                                        <p class="inform-box-label"></p>
                                        <button data-toggle="modal" data-target="#tree_modal_wnd"
                                            class="invoke-modal btn-address"
                                            action="{% url 'address:add_address' %}">Адрес места
                                            жительства</button>
                                        <div class="d-none">
                                            {{ person_form.live_locality|as_crispy_field }}
                                        </div>
                                    </div>
                                    <label for="live_locality_name" generated="true" class="error"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <h3 class="info-text">Мобилизация</h3>
                <section id="mobilization">
                    <div class="form-row">
                        <div class="col-sm-3">
                            {{ person_form.mobilization|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="col-sm-3 list_item">
                                <div class="form-group">
                                    <div class="inform-box">
                                        <p class="inform-box-label"></p>
                                        <button data-toggle="modal" data-target="#tree_modal_wnd"
                                            class="invoke-modal btn-address"
                                            action="{% url 'address:add_address' %}">Адрес
                                            военкомата</button>
                                    </div>
                                    <div class="d-none">
                                        {{ military_enlistment_office_form.address|as_crispy_field }}

                                        </select>
                                    </div>
                                    <label for="born_locality_name" generated="true" class="error"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            {{ person_form.military_enlistment_office|as_crispy_field }}
                        </div>
                    </div>
                    <div class="container-fluid formset">
                        {{ calling_direction_formset.management_form }}
                        <h3>Направление призыва</h3>
                        <div class="formset-forms">
                            {% for formset_form in calling_direction_formset %}
                            <div class="formset-form">
                                {% crispy formset_form %}
                            </div>
                            {% endfor %}
                        </div>
                        <button type="button" class="btn btn-primary btn-sm add-inline-form add-calling-team">Добавить
                            направление</button>
                        <div class="empty-form d-none">
                            {% crispy calling_direction_formset.empty_form %}
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input id="chbox_last_msg" type="checkbox" name="is_the_last_letter">
                                </div>
                            </div>
                            <div id="last_msg">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="inform-box">
                                            <p class="inform-box-label"></p>
                                            <button data-toggle="modal" data-target="#tree_modal_wnd"
                                                class="invoke-modal btn-address"
                                                action="{% url 'address:add_address' %}">Последнее сообщение
                                                из:</button>
                                            <div class="d-none">
                                                {{ person_form.last_msg_locality|as_crispy_field }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row top-buffer">

                        </div>
                        <div class="row">
                            <div class="col-sm-offset-3">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="**Дополнительная информация"
                                        name="adding_info" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row top-buffer">

                        </div>
                        <p>**При наличие информации о переводе в другие подразделения, заполнять в порядке
                            последовательности</p>
                    </div>
                </section>
                <h3 class="info-text">Введите информацию об участии в сражениях</h3>
                <section id="fights">
                    <div id="fight_container" class="container-fluid formset">
                        {{ war_achievement_formset.management_form }}
                        <h3>Сражения</h3>
                        <div class="formset-forms">
                            {% for formset_form in war_achievement_formset %}
                            <div class="formset-form">
                                {% crispy formset_form %}
                            </div>
                            {% endfor %}
                        </div>
                        <button type="button"
                            class="btn btn-primary btn-sm add-inline-form add-war-achievement">Добавить
                            сражение</button>
                        <div class="empty-form d-none">
                            {% crispy war_achievement_formset.empty_form %}
                        </div>
                    </div>
                    <p>**заполнять в порядке последовательности</p>
                </section>
                <h3 class="info-text">Информация о нахождении в лечебных учреждениях </h3>
                <section id="hospitals">
                    <div id="hospital_container" class="container-fluid formset">
                        {{ hospitalization_formset.management_form }}
                        <h3>Госпитализации</h3>
                        <div class="formset-forms">
                            {% for formset_form in hospitalization_formset %}
                            <div class="formset-form">
                                {% crispy formset_form %}
                            </div>
                            {% endfor %}
                        </div>
                        <button type="button" class="btn btn-primary btn-sm add-inline-form add-hospitalization">
                            Добавить госпитализацию
                        </button>
                        <div class="empty-form d-none">
                            {% crispy hospitalization_formset.empty_form %}
                        </div>
                    </div>
                </section>
                <h3 class="info-text">Данные о пленении и дальнейшем содержании</h3>
                <section id="captivity">
                    <div class="container-fluid">
                        <div class="container-fluid formset">
                            {{ captivity_formset.management_form }}
                            <h3>Информация о попадании в плен</h3>
                            <div class="formset-forms">
                                {% for formset_form in captivity_formset %}
                                <div class="formset-form">
                                    {% crispy formset_form %}
                                </div>
                                {% endfor %}
                            </div>
                            <button type="button" class="btn btn-primary btn-sm add-inline-form add-captivity">
                                Добавить информацию
                            </button>
                            <div class="empty-form d-none">
                                {% crispy captivity_formset.empty_form %}
                            </div>

                        </div>
                        <div class="container-fluid formset">
                            {{ being_camped_formset.management_form }}
                            <h3>Информация о нахождении в лагерях</h3>
                            <div class="formset-forms">
                                {% for formset_form in being_camped_formset %}
                                <div class="formset-form">
                                    {% crispy formset_form %}
                                </div>
                                {% endfor %}
                            </div>
                            <button type="button" class="btn btn-primary btn-sm add-inline-form add-being-camped">
                                Добавить информацию
                            </button>
                            <div class="empty-form d-none">
                                {% crispy being_camped_formset.empty_form %}
                            </div>

                        </div>
                        <div class="container-fluid formset">
                            {{ compulsory_work_formset.management_form }}
                            <h3>Информация о принудительных работах</h3>
                            <div class="formset-forms">
                                {% for formset_form in compulsory_work_formset %}
                                <div class="formset-form">
                                    {% crispy formset_form %}
                                </div>
                                {% endfor %}
                            </div>
                            <button type="button" class="btn btn-primary btn-sm add-inline-form add-compulsory-work">
                                Добавить информацию
                            </button>
                            <div class="empty-form d-none">
                                {% crispy compulsory_work_formset.empty_form %}
                            </div>

                        </div>
                        <div class="container-fluid formset">
                            {{ infirmary_camp_formset.management_form }}
                            <h3>Информация о нахождении в лазаретах лагерей</h3>
                            <div class="formset-forms">
                                {% for formset_form in infirmary_camp_formset %}
                                <div class="formset-form">
                                    {% crispy formset_form %}
                                </div>
                                {% endfor %}
                            </div>
                            <button type="button" class="btn btn-primary btn-sm add-inline-form add-infirmary-camp">
                                Добавить информацию
                            </button>
                            <div class="empty-form d-none">
                                {% crispy infirmary_camp_formset.empty_form %}
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>
                                        <font class="red1">Особые отметки</font>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox border_red_mark">
                                        {{ person_form.is_defector|as_crispy_field }}
                                        <font class="red1">Перебежчик</font>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox border_red_mark">
                                        {{ person_form.is_gestapo|as_crispy_field }}
                                        <font class="red1">Гестапо</font>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox border_red_mark">
                                        {{ person_form.is_frei|as_crispy_field }}
                                        <font class="red1">Освобожден</font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button_plus_minus">
                            <p class="add_item plus" id="captivity_plus">&#43;</p>
                            <p class="add_item minus" id="captivity_minus">&#8722;</p>
                        </div>
                        <div class="row top-buffer">

                        </div>
                        <p>**При наличие информации о переводе в другие пункты, заводить в порядке
                            последовательности</p>
                    </div>

                </section>
                <h3 class="info-text">Имеющиеся данные о захоронении</h3>
                <section id="burial">
                    <div class="container-fluid">
                        {% crispy burial_form %}
                        <p>Перезахоронение</p>
                        {% crispy reburial_form %}
                        <p>*Адрес захоронения на современной карте</p>
                    </div>
                </section>
            </div>
        </form>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="tree_modal_wnd" tabindex="-1" role="dialog" aria-labelledby="modalWindowLabel"
    aria-hidden="true" style="z-index: 1050;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-dynamic-content">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary btn-save">Сохранить</button>
            </div>
        </div>
    </div>
</div>

{% block js %}
<script src="{% static 'js/inline.js' %}"></script>
{% endblock %}

{% endblock %}

{% block footer %}

{% endblock %}