{% extends 'authorized.html' %}

{% block title %}
    <div class="inner">
        <div class="search_border">
            <div class="main_button"><b>Поиск</b></div>
            <div class="main_button"><a href="{% url 'data_input' %}"><b>Внесение данных</b></a></div>
        </div>
    </div>
{% endblock %}

{% block content %}



{% endblock %}

{% block footer %}

<div id="content_tags" class="inner" ><p class="sections_name">По разделам:</p>
    <div class="tags color_border_red">
    {% if type_search %}
    {{ type_search  }}
    {% endif %}
    {% if type_search != 1  %}
        <a href="{% url 'search' %}1">
    {% endif %}
    Персональные данные
    {% if type_search != 1 %}
        </a>
    {% endif %}
    </div>
    <div class="tags color_border_gray">
        <a href="{% url 'search' %}2">Призыв</a>
    </div>
    <div class="tags color_border_gray">
        <a href="{% url 'search' %}3">Боевые действия</a>
    </div>
    <div class="tags color_border_gray">
        <a href="{% url 'search' %}4">Госпиталь</a>
    </div>
    <div class="tags color_border_gray">
        <a href="{% url 'search' %}5">Плен</a>
    </div>
    <div class="tags color_border_gray">
        <a href="{% url 'search' %}6">Захоронение</a>
    </div>
</div>

{% endblock %}