{% extends 'authorized.html' %}

{% block title %}
    <div class="inner">
        <div class="search_border">
            <div class="main_button"><b>Поиск</b></div>
            <div class="main_button"><a href="{% url 'data_input' %}"><b>Внесение данных</b></a></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<form>
  <div class="form-group">
    <input type="text" class="form-control" id="surname" aria-describedby="emailHelp" placeholder="Имя">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="name" placeholder="Фамилия">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="father_name" placeholder="Отчество">
  </div>
  <div class="form-group">
    <p>Date: <input type="text" id="birthday"></p>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script>
  $( function() {
    $( "#birthday" ).datepicker($.datepicker.regional[ "ru" ]);
  } );
  </script>

{% endblock %}

{% block footer %}

<div id="content_tags" class="inner" ><p class="sections_name">По разделам:</p>
    <div class="tags color_border_red">
    {% if type_search %}
    {{ type_search  }}
    {% endif %}
    {% if type_search != 1 and type_search %}
        <a href="{% url 'search' %}1">
    {% endif %}
        Персональные данные
    {% if type_search != 1 and type_search %}
        </a>
    {% endif %}
    </div>
    <div class="tags color_border_gray">
    {% if type_search != 2  %}
        <a href="{% url 'search' %}2">
    {% endif %}
        Призыв
    {% if type_search != 2 %}    
        </a>
    {% endif %}
    </div>
    <div class="tags color_border_gray">
    {% if type_search != 3 %}
        <a href="{% url 'search' %}3">
    {% endif %}    
        Боевые действия
    {% if type_search != 3 %}
        </a>
    {% endif %}
    </div>
    <div class="tags color_border_gray">
    {% if type_search != 4 %}
        <a href="{% url 'search' %}4">
    {% endif %}
        Госпиталь
    {% if type_search != 4 %}
        </a>
    {% endif %}
    </div>
    <div class="tags color_border_gray">
    {% if type_search != 5 %}
        <a href="{% url 'search' %}5">
    {% endif %}
        Плен
    {% if type_search != 5 %}
        </a>
    {% endif %}
    </div>
    <div class="tags color_border_gray">
    {% if type_search != 6 %}
        <a href="{% url 'search' %}6">
    {% endif %}
        Захоронение
    {% if type_search != 6 %}
        </a>
    {% endif %}
    </div>
</div>

{% endblock %}